@media screen and (min-width: 1200px) {

    .container{
        width: 60%;

    }

    .menu-burger{
        display: none;
    }

    .alert{
        display: block;
        color: var(--white);
        text-align: center;
        background: var(--green) url('../images/banner_wave.svg');
        padding: 20px 0;
    }

    .menu-desktop {
        display: flex;        
        text-align: center;
        gap: 25px;
        list-style: none;
        align-items: center;
        list-style: none;
      

    }
    .menu-desktop a{
        text-decoration: none;
        color:var(--gray-dark);

    }
  
   nav img {
       width: 10%;
   }






/*
   header 
   le selecteur avancé ">" permet de dire :
   "Prend le 1er éléméent juste en dessous du parent"
*/
   header .alignleft,
   main section:first-child > div,
   main section:last-child .container > div /* ou avec la classe imagesection*/
   {
       display: flex;
       align-items: center ;
       gap:50px;
       text-align:left;
       padding: 50px 0;
   }

   header h1{
       font-size: 4rem;
   }

   main section h2{
       font-size: 3.2rem;
   }
   
   main section :last-child div{
       text-align: center;
   }
    
    footer div{
    display: flex;
    align-items: center;
    justify-content: space-between;

    }
   footer div p{
    font-size: 1.8rem;
   }
   footer div   ul{
    font-size: 1rem;
   }
}